body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  height: 95vh;
  background: #4e2447; /*#f23557*/
  color: #f0d43a;
  justify-content: center;
  grid-gap: 20px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  padding: 20px;
}

.holder {
  background-color: #4e2447;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
}

#userfeel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#entryHolder {
    color: beige;
}

#date {
    color: azure;
}

#temp {
    color: antiquewhite;
}

#content {
    color: aqua;
}

.headline {
  font-size: 27px;
}
.title {
  color: aquamarine;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #255563;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
}

button {
  width: 400px;
  height: 100px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  cursor: pointer;
}
button:hover {
  background-color: rgb(129, 39, 212);
}
button:active {
  background-color: rgb(85, 3, 85);
  transform: translateY(3px);
}
h1 {
  font-size: 36px;
}

textarea {
  background: #193f63;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  width: 394px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
